{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
  <h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
  <div class="alert alert-success">
      {{ flashMessage }}
  </div>
{% endfor %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <ul class="nav nav-tabs nav-justified">
        <li><a href="#persos" data-toggle="tab">Infos_Perso</a></li>
        <li><a href="#portfolios" data-toggle="tab">Portfolio</a></li>
        <li><a href="#experiences" data-toggle="tab">Experiences</a></li>
        <li class="active"><a href="#competences" data-toggle="tab">Competences</a></li>
        <li><a href="#loisirs" data-toggle="tab">Loisirs</a></li>
        <li><a href="#articles" data-toggle="tab">Articles</a></li>
        <li><a href="#comments" data-toggle="tab">Comments</a></li>
        <li><a href="#users" data-toggle="tab">Users</a></li>

      </ul>
    </div>
  </div>
  <div class="tab-content" id="admin">
    <div class="tab-pane fade in adminTable" id="articles">
      {% if articles %}
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th></th>  <!-- Actions column -->
              </tr>
            </thead>
            {% for article in articles %}
              <tr>
                <td><strong>{{ article.id }}</strong></td>
                <td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></td>
                <td>{{ article.content | truncate(60) }}</td>
                <td>
                  <a href="{{ path('admin_article_edit', { 'id': article.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                  <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#articleDialog{{ article.id }}"><span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <div class="modal fade" id="articleDialog{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                        </div>
                        <div class="modal-body">
                          Do you really want to delete this article ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          <a href="{{ path('admin_article_delete', { 'id': article.id }) }}" class="btn btn-danger">Confirm</a>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                </td>
              </tr>
            {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No articles found.</div>
        {% endif %}
        <a href="{{ path('admin_article_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add article</button></a>
    </div>
      <div class="tab-pane fade in active adminTable" id="competences">
          {% if competences %}
          <div class="table-responsive">
              <table class="table table-hover table-condensed">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Nom</th>
                          <th>Valeur</th>
                          <th>Logo</th>
                          <th>Categorie</th>

                          <th></th>
                      </tr>
                  </thead>
                  {% for competence in competences %}
                  <tr>
                      <td>{{ competence.id }}</td>
                      <td>{{ competence.nom }}</td>
                      <td>{{ competence.valeur }}</td>
                      {% if competence.nom == 'Php' %}
                        <td>
                          <div class="img-thumbnail">
                            <img src="{{ competence.logo }}" alt="{{ competence.nom }}"></td>
                          </div>
                      {% else %}
                        <td><i class="fa {{ competence.logo }} fa-5x" aria-hidden="true"></i></td>
                      {% endif %}

                      <td>
                          <a href="{{ path('admin_competence_edit', { 'id': competence.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                          <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#competenceDialog{{ competence.id }}"><span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <div class="modal fade" id="competenceDialog{{ competence.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                      </div>
                                      <div class="modal-body">
                                          Voulez vous réellement effecé cette expèrience ?
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                          <a href="{{ path('admin_competence_delete', { 'id': competence.id }) }}" class="btn btn-danger">Confirm</a>
                                      </div>
                                  </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                      </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
          {% else %}
          <div class="alert alert-warning">Nous n'avons pas trouvé d'competences.</div>
          {% endif %}
          <a href="{{ path('admin_competence_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter une competences</button></a>
      </div>



      <div class="tab-pane fade in adminTable" id="experiences">
          {% if experiences %}
          <div class="table-responsive">
              <table class="table table-hover table-condensed">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Contrat</th>
                          <th>Nom</th>
                          <th>Dates</th>
                          <th>Poste</th>
                          <th>Descriptif</th>
                          <th>image</th>
                          <th>Editer</th>  <!-- Actions column -->
                      </tr>
                  </thead>
                  {% for experience in experiences %}
                  <tr>
                      <td>{{ experience.id }}</td>
                      <td>{{ experience.contrat }}</td>
                      <td><a class="articleTitle" href="{{ path('experience', { 'id': experience.id }) }}">{{ experience.poste }}</a></td>
                      <td><div class="">
                        {{experience.debut}} - {{experience.fin}}
                      </div>
                    </td>
                      <td>{{experience.poste}}</td>
                      <td>{{ experience.content | truncate(60) }}</td>
                      <td>
                        <div class="img-thumbnail">
                          <img src="{{ experience.img }}" alt="{{ experience.title }}">
                        </div>
                      </td>
                      <td>
                          <a href="{{ path('admin_experience_edit', { 'id': experience.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                          <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#experienceDialog{{ experience.id }}"><span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <div class="modal fade" id="experienceDialog{{ experience.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                      </div>
                                      <div class="modal-body">
                                          Voulez vous réellement effecé cette expèrience ?
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                          <a href="{{ path('admin_experience_delete', { 'id': experience.id }) }}" class="btn btn-danger">Confirm</a>
                                      </div>
                                  </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                      </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
          {% else %}
          <div class="alert alert-warning">Nous n'avons pas trouvé d'experiences.</div>
          {% endif %}
          <a href="{{ path('admin_experience_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter une experiences</button></a>
      </div>
      <div class="tab-pane fade in adminTable" id="portfolios">
        {% if portfolios %}
          <div class="table-responsive">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th>Lieux</th>
                  <th>Date</th>
                  <th>Descriptif</th>
                  <th>Image</th>
                  <th>Link</th>
                  <th></th>  <!-- Actions column -->
                </tr>
              </thead>
              {% for portfolio in portfolios %}
                <tr>
                  <td>{{ portfolio.id }}</td>
                  <td><a class="articleTitle" href="{{ path('article', { 'id': portfolio.id }) }}">{{ portfolio.name }}</a></td>
                  <td>{{ portfolio.lieu }}</td>
                  <td>{{ portfolio.date }}</td>
                  <td>{{ portfolio.descriptif | truncate(60) }}</td>
                  <td>
                    <div class="img-thumbnail">
                      <img src="{{ portfolio.img }}" alt="{{ portfolio.name }}">
                    </div>
                  </td>
                  <td>{{ portfolio.link }}</td>
                  <td>
                    <a href="{{ path('admin_portfolio_edit', { 'id': portfolio.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#portfolioDialog{{ portfolio.id }}"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div class="modal fade" id="portfolioDialog{{ portfolio.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                          </div>
                          <div class="modal-body">
                            Do you really want to delete this portfolio ?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a href="{{ path('admin_portfolio_delete', { 'id': portfolio.id }) }}" class="btn btn-danger">Confirm</a>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                  </td>
                </tr>
              {% endfor %}
              </table>
          </div>
          {% else %}
          <div class="alert alert-warning">Pas de portfolio trouvé</div>
          {% endif %}
          <a href="{{ path('admin_portfolio_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add article</button></a>
      </div>
      <div class="tab-pane fade in adminTable" id="persos">
        {% if persos %}
          <div class="table-responsive">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Image</th>
                  <th><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</th>
                  <th><i class="fa fa-github" aria-hidden="true"></i> github</th>
                  <th><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</th>
                  <th><i class="fa fa-codepen" aria-hidden="true"></i> codepen</th>
                  <th>Telephone</th>
                  <th>Adresse</th>
                  <th></th>  <!-- Actions column -->
                </tr>
              </thead>
              {% for perso in persos %}
                <tr>
                  <td><strong>{{ perso.id }}</strong></td>
                  <td><a class="articleTitle" href="{{ path('article', { 'id': perso.id }) }}">{{ perso.nom }}</a></td>
                  <td><a class="articleTitle" href="{{ path('article', { 'id': perso.id }) }}">{{ perso.prenom }}</a></td>
                  <td>
                    <div class="img-thumbnail">
                      <img src="{{ perso.img }}" alt="{{ perso.nom }} {{ perso.prenom }}"></td>
                    </div>
                  <td>{{ perso.facebook }}</td>
                  <td>{{ perso.github }}</td>
                  <td>{{ perso.linkedin }}</td>
                  <td>{{ perso.codepen }}</td>
                  <td>{{ perso.tel }}</td>
                  <td>{{ perso.adresse | truncate(60) }}</td>
                  <td>
                    <a href="{{ path('admin_perso_edit', { 'id': perso.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#persoDialog{{ perso.id }}"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div class="modal fade" id="persoDialog{{ perso.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                          </div>
                          <div class="modal-body">
                            Voulez vous réellement supprimer cette information personnel ?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a href="{{ path('admin_perso_delete', { 'id': perso.id }) }}" class="btn btn-danger">Confirm</a>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                  </td>
                </tr>
              {% endfor %}
              </table>
          </div>
          {% else %}
          <div class="alert alert-warning">Pas d'infos'perso trouvé</div>
          {% endif %}
          <a href="{{ path('admin_perso_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add personnal information</button></a>
      </div>
      <div class="tab-pane fade in adminTable" id="loisirs">
        {% if persos %}
          <div class="table-responsive">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Content</th>
                  <th>Photo</th>

                  <th></th>  <!-- Actions column -->
                </tr>
              </thead>
              {% for loisir in loisirs %}
                <tr>
                  <td>{{ loisir.id }}</td>
                  <td><a class="articleTitle" href="{{ path('loisir', { 'id': loisir.id }) }}">{{ loisir.title }}</a></td>
                  <td>{{ loisir.content | truncate(60) }}</td>
                  <td>
                    <div class="img-thumbnail">
                      <img src="{{ loisir.photo }}" alt="{{loisir.photo }}">
                    </div>
                 </td>
                  <td>
                    <a href="{{ path('admin_loisir_edit', { 'id': loisir.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#loisirDialog{{ loisir.id }}"><span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div class="modal fade" id="loisirDialog{{ loisir.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                          </div>
                          <div class="modal-body">
                            Voulez-vous réellement supprimer ce loisir ?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a href="{{ path('admin_loisir_delete', { 'id': loisir.id }) }}" class="btn btn-danger">Confirm</a>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                  </td>
                </tr>
              {% endfor %}
              </table>
          </div>
          {% else %}
          <div class="alert alert-warning">Pas d'infos perso trouvé</div>
          {% endif %}
          <a href="{{ path('admin_loisir_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un loisir</button></a>
      </div>
      <div class="tab-pane fade adminTable" id="comments">
          <!-- Insérer ici le code de gestion des commentaires -->
          {% if comments %}
          <div class="table-responsive">
              <table class="table table-hover table-condensed">
                  <thead>
                      <tr>
                          <th>Article</th>
                          <th>Author</th>
                          <th>Content</th>
                          <th></th>  <!-- Actions column -->
                      </tr>
                  </thead>
                  {% for comment in comments %}
                  <tr>
                      <td><a class="articleTitle" href="{{ path('article', { 'id': comment.article.id }) }}">{{ comment.article.title }}</a></td>
                      <td>{{ comment.author.username }}</td>
                      <td>{{ comment.content | truncate(60) }}</td>
                      <td>
                          <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                          <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                      </div>
                                      <div class="modal-body">
                                          Do you really want to delete this comment ?
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                          <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Confirm</a>
                                      </div>
                                  </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                      </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
          {% else %}
          <div class="alert alert-warning">No comments found.</div>
          {% endif %}
      </div>
      <div class="tab-pane fade adminTable" id="users">
          {% if users %}
          <div class="table-responsive">
              <table class="table table-hover table-condensed">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Role</th>
                          <th></th>  <!-- Actions column -->
                      </tr>
                  </thead>
                  {% for user in users %}
                  <tr>
                      <td>{{ user.username }}</a></td>
                      <td>
                          {% if user.role == 'ROLE_ADMIN' %}
                              Admin
                          {% else %}
                              User
                          {% endif %}
                      </td>
                      <td>
                          <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                          <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                                      </div>
                                      <div class="modal-body">
                                          Do you really want to delete this user ?
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                          <a href="{{ path('admin_user_delete', { 'id': user.id }) }}" class="btn btn-danger">Confirm</a>
                                      </div>
                                  </div><!-- /.modal-content -->
                              </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                      </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
          {% else %}
          <div class="alert alert-warning">No users found.</div>
          {% endif %}
          <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add user</button></a>
      </div>
  </div>
{% endblock %}
